@charset "UTF-8";
body {
  background-image: radial-gradient(ellipse at center, #a6bfce 33%, #2E3D54 100%);
  display: grid;
  margin: 0;
  min-height: 100vh;
  place-items: center;
  position: relative;
}

#canvas {
  display: block;
  position: absolute;
  z-index: 1;
}

#start {
  align-items: center;
  background-color: #000;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 70px;
  justify-content: center;
  outline: 0;
  padding: 0;
  width: 70px;
  z-index: 2;
}
#start::before {
  border-bottom: 20px solid transparent;
  border-left: 25px solid #fff;
  border-top: 20px solid transparent;
  content: "";
  display: block;
  transform: translate(5px);
}
#start.playing {
  background-color: #feab12;
  cursor: default;
}
#start.playing::before {
  content: "🕶️";
  border: none;
  font-size: 80px;
  transform: translate(0, 0);
  animation: nod 0.23s linear 3.5s infinite alternate;
}

@keyframes nod {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 6px);
  }
}